    body {
    background-image: url('img/paine.jpg');
  }

  .maindiv{
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
}

.nav_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    border: 1px solid gold;
    background-color: gold;
    padding: 1%;
    border-radius: 1vw;
    margin-top: 3%;
    width: 40vw;
    font-size: 1.2vw;
    height: auto;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
}
a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a:hover{
    transition-duration: 0.5s;
    transform: scale(1.1);
    color: darkred;

}


  .intro{
    display: flex;
        justify-content: center;
        align-items: center;
    }

  .title{
    font-size: 4vw;
    text-shadow: 1px 1px 5px white, 0 0 1em black, 0 0 0.2em darkred;
    }

    .title:hover{
        color: darkred;
        transition-duration: 1s;
        cursor: pointer;
    }

    .img_div{
        display: flex;
            justify-content: center;
            align-items: center;
        }

    .title_img{
        width: 30vw;
        height: 30vw;
        border-radius: 7vw;
        margin-bottom: 2%;
        box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.7), 0 20px 40px 20px rgba(192,192,192, 0.5);
    }


    

    /************Poveste**********/

.poveste{
	display: flex;
	justify-content: center;
	align-items: center;
}

.text{
width: 50vw;
	height: auto;
	padding: 5%;
	background-color: black;
	border: 1px solid black;
	color: white;
	border-radius: 1vw;
	margin-top: 2%;
	background: rgba(0, 0, 0, 0.7);
	font-size: 1.2vw;
	margin-bottom: 2%;
}

/******************Biografie*************/

.bio_img{
    width: 30vw;
	height: 40vw;
	border-radius: 10vw;
	margin-bottom: 2%;
	box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.7), 0 20px 40px 20px rgba(192,192,192, 0.5);
}

